.Editor {
    display:flex;
    gap: 10px
}

.Editor > input {
    flex:1;
    border-radius: 5px;
    padding: 15px;
    border: solid 1px rgb(220, 220, 220);
}

.Editor > button {
    width: 80px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: rgb(37, 137, 255);
}